<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browserType" value="CHROME"></parameter>
	<parameter name="URL"
		value="https://icargo-aasw.ibsplc.aero/aastag/login.do"></parameter>
	<parameter name="userId" value="00972797"></parameter>
	<parameter name="password" value="Mar@2020"></parameter>
	<parameter name="userRole" value="IBPOADM"></parameter>
	
	<test thread-count="1" name="Test">		
		<classes>
			<class name="Automation.ValidateLoginFunctionalityTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
